.mainContainer{
    overflow: hidden;
}

.propertiesTable {
    position: absolute;
    top: 20%;
    font-family: monaco, monospace;
    font-size: 20px;
    border-collapse: collapse;
    width: 100%;
    height: auto;
    margin-left: 2%;
}

.deleteButton {
    height: 30%;
    width: 45%;
}

.seePropertyButton {
    height: 30%;
    width: 45%;
}